div {
    border: 4px solid #999;
    max-width: 900px;  /*Обмеження ширини*/
    margin-left: auto; /*Центрування блоку*/
    margin-right: auto; /*по горизонталі*/
    padding: 25px;
    padding-bottom: 50px;
}