.main-header {
    background-image: url('../img/space-bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    min-height: 100vh; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.the.space {
    color: white; 
    font-size: 24px; 
    text-transform: lowercase; 
    font-family: 'Orbitron', sans-serif; 
    
    
    display: block; 
    text-align: right; 
    
    margin-top: -10px; 
    margin-right: 5px; 
}