nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav.topfixed {
    background: var(--bg-nav-1);
    position: fixed;
}

/* nav::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform .1s ease;
} */

nav.topfixed::before {
    transform: none;
}

.navbar {
    background-color: var(--nav-colour); 
    display: flex;
    border-radius: 0 0 80px 80px;
    padding: 2px 100px;
    margin-left: auto;                  /* Центрування блоку всередині nav по-горизонталі */
    margin-right: auto;
    width: auto;
    justify-content: center;     
    align-items: center;              
                       
    position: relative;
    transition: all .3s ease-in-out;

    
}

.topfixed .navbar {
    justify-content: center;     /* Схема вирівнювання лого та меню (desktop) по основній осі (main axis) після прокрутки */
    /* border-bottom-left-radius: var(--bord-radius); */
    /* border-bottom-right-radius: var(--bord-radius); */
    /* background-image: url(../img/image-in-top.jpg); */
    /* background-color: rgba(10,10,10,.5); */
    /* background-blend-mode: multiply; */
    /* background-size: cover; */
    padding-top: 8px;      /* Внутрішні відступи після прокрутки */
    padding-bottom: 8px;   /* Внутрішні відступи після прокрутки */
}


nav .navbar {
    overflow: visible;
}

.nav-icon {
    display: none;
    z-index: 99;
}

.navigation a {
    display: block;
    color: var(--main-colour);  /* Основний колір меню */
    font-family: "Orbitron", sans-serif;
    font-size: .75rem;           /* Розмір тексту меню */
    font-weight: 600;           /* Накреслення тексту меню */
    letter-spacing: .025em;
    white-space: nowrap;
    padding: 8px 0 18px;
    margin-left: 0px;
    text-decoration: none;
    position: relative;
    transition: all .3s ease;
}

.navigation a:hover {
    color: var(--button-colour); /* Основний колір меню (hover) */
}

.topfixed .navigation a {
    color: var(--nav-colour-02); /* Колір меню після прокрутки */
}

.topfixed .navigation a:hover {
    color: var(--main-colour); /* Колір меню (hover) після прокрутки */
}


.navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    
}

.navigation li {
    display: inline-block;
    vertical-align: middle;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.overlay {
    background-color: #333;
    opacity:.3;
    position: absolute;
    left:0; top:0;
    width:100dvw;
    height:100dvh;
}

@media screen and (max-width: 767px) {

    .navbar {
        justify-content: center;
        padding: 5px 5px; 
        border-radius: 0 0 20px 20px; 
        width: 95%; 
        min-height: auto;
    }

    .navigation ul {

        display: flex;       
        visibility: visible;  
        transform: none;      
        position: static ;     
        flex-direction: row;            
        justify-content: center;        
        gap: 12px;                       
        width: 100%;
        background-color: transparent;
        height: auto;
        padding-top: 0 ;
    }

    .open .navigation ul {
        transform: translateY(0);
    }

    .open ul li {
        /* display: block; */
        width: 100%;
        border-bottom: 1px solid #444;
        margin-left: 0;
    }

    .open ul a {
        color: var(--nav-colour);  /* Основний колір мобільного меню */
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .open ul a:hover {
        color: var(--nav-colour-02);  /* Основний колір мобільного меню (hover) */
    }
}

@media screen and (max-width: 480px) {

    .navbar {
        width: 90%;
        padding: 5px 5px;
        border-radius: 0 0 20px 20px; 
        min-height: auto;
    }
    .navigation ul {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 5px 0;      
        width: 100%;
        padding: 0;
    }
    .navigation li {
        flex: 0 0 50%;   
        display: flex;
        justify-content: center; }

    .navigation a {
        padding: 5px 0;
        margin: 0 !important;
        line-height: 0.8;
        font-size: 0.8rem; 
        white-space: nowrap;
        text-align: center;
    }
}