#s1 {
    background-color: var(--main-colour);
}

#s1 .inside {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.section-title {
    font-size: 3.5rem;     
    white-space: nowrap;   
    color: var(--header-color);
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}

.section-title::after {
    flex-grow: 2;
    content: '';
    height: 2px;
    width: 100%;
    position: relative;
    margin-bottom: .2em;
    background: linear-gradient(90deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
}

.swiper-slide {
    /* height: 50vh; */
    /* max-width: 30vw; */
}

.slider .planet {
    position: relative;

}

.slider .planet img {
    display: block;
    width: 100%;
    max-width: 100%;;
    border-radius: 20px;
}

.slider .planet-description {
    position: absolute;
    left:0;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 25px;
}


.planet-description h3 {
    font-family: 'Tomorrow', sans-serif;
    font-size: 28px;
    margin-top: auto;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--header-color,#FFFFFF);
}

.tour-date {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color:var(--header-color,#FFFFFF);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tour-rate {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color:var(--header-color,#FFFFFF);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.tour-info {
    font-family: 'Inter', sans-serif;
    color:var(--header-color,#FFFFFF);
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5;      
    max-width: 90%;      
    height: 65px; 
    overflow: hidden;
}

