



.why-us-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;     
}

.s2-title-wrapper {
   display: flex;         
    align-items: center;  
    gap: 30px;            
    flex-grow: 1;
}


.s2-section-title {
    font-size: 3.5rem;     
 
    color: var(--text-main-color, #000);
    margin: 0;
}


.nasa-black-box {
    background-color: var(--text-main-color, #000);
    color: var(--header-color,#FFFFFF);
    padding: 15px 30px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 40px;
}


.features-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature-item {
    flex: 1;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-item img {
    height: 150px; 
    width: auto;
    margin-bottom: 20px;
}

.feature-item h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--text-main-color, #000);
}

.feature-item p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: var(--text-main-color, #000);
    max-width: 250px; 
}
